* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(241, 180, 11);
  background: linear-gradient(
    90deg,
    rgba(241, 180, 11, 1) 15%,
    rgba(223, 117, 11, 0.998) 55%,
    rgba(255, 127, 0, 1) 80%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 0.25em;
}

input:focus {
  outline: none;
}

.search-container {
  width: 30%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-container input,
.search-container .suggestions {
  border: none;
  font-size: 1em;
  margin-bottom: 0.25em;
  background-color: rgba(241, 180, 115, 0.5);
}
.search-container input {
  border-bottom: 0.125em solid rgb(251, 56, 30);
  padding: 0.5em;
}

ul li {
  list-style: none;
  background-color: rgba(255, 166, 0, 0.3);
  width: 100%;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
ul li:hover {
  background: rgba(255, 85, 0, 0.7);
}
